* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    background-color: #ccc;
}

h1, h2, h3 {
    color: #666;
}

header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

#bg-image {
    background-image: url("./images/Rocks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40em;
    width: 100%;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    color: #ccc;
}

header span {
    
}

html {
    font-size: 16px;
    margin-top: 2em;
}

main section a {
    text-decoration: none;
}

main section a:visited {
    color: midnightblue;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: #333;
}

nav a {
    padding: .5em 2em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background: yellow;
    font-weight: bold;
    color: #333;
}

section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;    
}

section > p {
    margin: 1em 0;
}

section ul {
    padding-left: 1.5em;
}

/*#aboutMe {
    background-image: url("");
    background-position: center;
    background-size: auto;
}*/

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

.container article {
    background: #ccc;
    padding: 1em;
}

.container article img {
    *width: 100%;
    border: 1px solid #333;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em;
    text-align: center;
}