* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    background-color: #ccc;
}

h1, h2, h3 {
    color: #666;
    text-align: center;
}

h2 {
    padding: 1em;
    font-size: 2rem;
}

header, main {
    max-width: 1000px;
    margin: 0 auto;
}

#bg-image {
    background-image: url("./images/Rocks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 37em;
    width: 100%;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    color: #ccc;
}

header span {
    font-size: 2em;
    color: yellow;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

html {
    font-size: 16px;
    margin-top: 2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 3rem; 
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: #333;
}

nav a {
    padding: .5em 2em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: yellow;
    font-weight: bold;
    color: #333;
}

@media screen and (max-width: 750px) {

    nav {
      display: flex;
      flex-flow: column;
    }
    nav a {
      display: none;
    }
    nav::before {
      content: 'SHOW MENU';
      color: #fff;
      background: #000;
      font-weight: bold;
      padding: 0.5em 2em;
    }
    nav.open::before {
      content: 'HIDE MENU';
    }
    nav.open a {
      display: block;
    }
  
    nav ::selection {
      color: inherit;
      background: transparent;
    }
  }

section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;    
}

section > p {
    margin: 1em 0;
}

section ul {
    padding-left: 1.5em;
}

#projects .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 10rem;
}

.container article {
    background: #666;
    padding: 1em;
    color: #fff;
}

.container h3 {
    color: #fff;
    text-align: center;
}

.container article img {
    width: 100%;
    border: 1px solid #333;
}


.container article a {
    color: #fff;
    text-decoration: none;
}

.container article a:hover {
    background: yellow;
    color: black;
}

footer .container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    column-gap: 2em;
    width: 100%;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

footer a {
    padding: .5em 2em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    background: yellow;
    font-weight: bold;
    color: #333;
}

#projects button {
    display: none;
  }
  
  
  @media screen and (max-width: 40em) {
    #projects {
      grid-template-columns: 1fr;
      grid-row-gap: 1em;
      
      width: 60vw;
      min-width: 22em;
      margin: 1em auto;
    }
  
    #projects button {
      display: inline-block;
    }  
    
    #projects article ul {
      display: none;
    }
  
    #projects article.expanded ul {
      display: block;
    }
  }
  
  @media screen and (max-width: 25em) {
    #projects {
      width: auto;
      min-width: unset;
    }
  }

#slider {
    max-width: 80vw;
    margin: 0 auto;
}

#slider ::selection {
    color: inherit;
    background: transparent;
  }
  
  #slider-frame {
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
    position: relative;

    background: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  
    height: 25em;
  }
  
  #slider-prev,
  #slider-next {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #slider-prev:hover,
  #slider-next:hover {
    background: rgba(255,255,255,0.3);
  }
  
  #slider-prev {
    left: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #slider-next {
    right: 0;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  #slider-frame [data-src] {
    display: none;
  }
  
  #slider-caption {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    text-align: center;
    transition: 0.5s;
  }
  
  #slider-caption.flash {
    transition: 0s;
    background: #ccc;
  }